.tc{
    text-align: center;
    text-overflow: ellipsis;
    margin: 10px 10px;
    font-size: 10px;
    /* height: 200;
    width: 100;
    transform: scale(0.8);
    padding-bottom: 5px;
    padding-top: 5px; */
}